# Visual Studio
.vs/
*.user
*.suo

# CMake / builds
out/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.ninja
*.ninja_deps
*.ninja_log

# vcpkg (если у тебя он в дереве проекта)
vcpkg_installed/
**/vcpkg_installed/

# Binaries / obj
*.exe
*.dll
*.pdb
*.obj
*.lib